{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="shortcut icon" href="{% static 'constructor/mini-icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Main/test_listStyles.css' %}">
</head>
<body>
    <div class="header">
        <div class="container header-content">
            <div class="logo-title">
                <img src="{% static 'constructor/header.png' %}" alt="Лого" class="header-logo">
                <a href={% url 'Main:home' %}>
                    <span class="header-text">EduTest</span>
                </a>
            </div>
            <div class="user-links">
                <a href={% url 'constructor:test_create' %}>Конструктор</a>
            </div>
            <a href={% url 'Main:profile' %}>
                <img id="userAvatar" src="{% static 'constructor/profileIcon-image.png' %}" alt="User Avatar"
                     class="user-avatar">
            </a>
        </div>
    </div>
    <div class="container content">
        <h2>Список тестов</h2>
        <table>
            <thead>
                <tr>
                    <th>Название теста</th>
                    <th>Содержание вопросов</th>
                    <th>Дисциплина</th>
                    <th>Время выполнения</th>
                    <th>Создатель</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                    <tr>
                        <td><a href="{% url 'Main:test_description' test.pk %}">{{ test.name }}</a></td>
                        <td>{{ test.questions.all|join:" " }}</td>
                        <td>{{ test.discipline.name }}</td>
                        <td>{{ test.lead_time }}</td>
                        <td>{{ test.teacher.user.first_name }} {{ test.teacher.user.last_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            const constructorUrl = '{% url "constructor:test_create" %}';

            $('#userLinks').on('click', '#constructorLink', function (event) {
                event.preventDefault();
                window.location.href = constructorUrl;
            });

            function fetchUserDataAndSetLinks() {
                // Получение данных от Django-бэкенда
                const userAccessLevel = {{ access }};

                const userLinks = document.getElementById('userLinks');
                userLinks.innerHTML = '';

                if (userAccessLevel >= 2) {
                    const constructorLink = document.createElement('a');
                    constructorLink.href = '#';
                    constructorLink.id = 'constructorLink';
                    constructorLink.innerText = 'Конструктор';
                    constructorLink.classList.add('constructor-link');
                    constructorLink.style.display = 'inline-block';
                    userLinks.appendChild(constructorLink);
                }
            }

            fetchUserDataAndSetLinks();
        });
    </script>
</body>
</html>
