<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Список тестов</h1>
<table>
    <thead>
        <tr>
            <th>Название теста</th>
            <th>Содержание вопросов</th>
            <th>Дисциплина</th>
            <th>Время выполнения</th>
            <th>Количество баллов</th>
            <th>Создатель</th>
        </tr>
    </thead>
    <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{% url 'Main:test_description' test.pk %}">{{ test.name }}</a></td>
                <td>{{ test.questions.all|join:" " }}</td>
                <td>{{ test.lead_time }}</td>
                <td>{{ test.max_score }}</td>
                <td>{{ test.discipline.name }}</td>
                <td>{{ test.teacher.user.first_name }} {{ test.teacher.user.last_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>