{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="shortcut icon" href='{% static 'Main/mini-icon.png' %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static 'Main/test_desciptionStyles.css' %}'>
</head>
<body>
<div class="header">
    <div class="logo-title">
        <a href="{% url 'Main:home' %}" class="header-link">
            <img src="{% static 'Main/header.png' %}" alt="Лого" class="header-logo">
            <span class="header-text">EduTest</span>
        </a>
    </div>
    <div class="user-links">
        <a href="#" id="testsLink">Тесты</a>
        <a href="{% url 'constructor:test_create' %}" id="constructorLink" class="constructor-link">Конструктор</a>
    </div>
    <a href={% url 'Main:profile' %}>
        <img id="userAvatar" src="{% static 'Main/profileIcon-image.png' %}" alt="User Avatar" class="user-avatar">
    </a>
</div>
<div id="test-info">
    {% if access == 2 %}
        <div class="button-container">
            <button type="button" class="btn btn-primary btn-send">
                <a href="/test/assign/create/{{ test.id }}/">Выдать тест</a>
            </button>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-outline btn-change" id ='changeButton'>
                <a href={% url 'constructor:test_update' test.pk %}>Изменить</a>
            </button>
        <button type="submit" id="startButton" class="btn btn-primary btn-start">Начать тестирование</button>

    </form>
    <h1>{{ test.name }}</h1>
    <p>Дисциплина: {{ test.discipline.name }}</p>
    <p>Время выполнения: {{ test.lead_time }}</p>
    <p>Максимальное количество баллов: {{ test.max_score }}</p>
    <p>Преподаватель: {{ test.teacher }}</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const testsUrlForNonStudents = '{% url "Main:test_list" %}';
        const testsUrlForStudents = '{% url "Main:tests_for_students" %}';

        function fetchUserDataAndSetLinks() {
            const userAccessLevel = {{ access }};

            const testsLink = document.getElementById('testsLink');
            const constructorLink = document.getElementById('constructorLink');
            const startButton = document.getElementById('startButton');
            const changeButton = document.getElementById('changeButton');

            testsLink.style.display = 'inline-block';
            testsLink.href = userAccessLevel === 1 ? testsUrlForStudents : testsUrlForNonStudents;

            if (userAccessLevel >= 2) {
                constructorLink.style.display = 'inline-block';
                changeButton.style.display ='inline-block'
            } else {
                constructorLink.style.display = 'none';
                changeButton.style.display ='none'
            }
            if (userAccessLevel >= 1) {
                startButton.style.display = 'inline-block';
            } else {
                startButton.style.display = 'none';
            }
        }

        fetchUserDataAndSetLinks();
    });
</script>
</body>
</html>
