body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F7F7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #3F72AF;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.header-text {
    font-size: 27px;
    font-weight: 700;
    color: #fff;
}

.header-text:hover {
    color: #fff;
    text-decoration: none;
}

.user-links {
    display: flex;
    align-items: center;
}

.user-links a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 22px;
    margin-right: 745px;

}

.user-links a:hover {
    color: #DBE2EF;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 100px;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.form {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

form {
    margin-top: 20px;
}

form p {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    font-size: 16px;
    color: #444;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.remaining-time {
    font-size: 16px;
    color: #777;
    margin-top: 20px;
}
